@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@custom-variant dark (&:where(.dark, .dark *));



@font-face {
  font-family: "Brygada 1918", serif;;
  display: swap;
  /* can be a url or a download .tiff file */
  src: url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap");
}

@font-face {
  font-family: "Inter", sans-serif;
  display: swap;
  /* can be a url or a download .tiff file */
  src: url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
}

@font-face {
  font-family: "Roboto", sans-serif;
  display: swap;
  /* can be a url or a download .tiff file */
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}





@theme {
  --font-second-display: "Inter", sans-serif;
  --font-heading: "Brygada 1918", serif;
    --font-display: "Roboto", sans-serif;


  --color-brand-yellow: #DDE048;
  --color-brand-grey: #F6F8F6;
  --color-secondary-yellow: #EBF8D3;
  --color-secondary-blue: #2D8CBA;
   --color-secondary-dark-grey: #464646;


}

   @keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-track {
  animation: scroll-left 20s linear infinite;
}


